@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.2;
        border-radius: 0;
    }
    30%{
        transform: translateY(-400px) rotate(172deg);
        opacity: 1;
        border-radius: 0;
    }
    80%{
        opacity: 1;
        
    }
    90%{
        opacity: 0.2;
        
    }
    97%{
        scale: 100%;
        opacity: 0.1;
    }
    100%{
        scale: 0;
        transform: translateY(-90vh) rotate(720deg);
        opacity: 0; 
        border-radius: 20%;
        
    }
}


.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
    z-index: 1;

}
.background li {
    position: absolute;
    z-index: -10;
    display: inline-block;
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    animation: animate 15s linear infinite;
}


/* Below you have different sizes for different child elements, you can adjust these as per your requirements */

.background li:nth-child(1) {
    left: 24%;
    width: 10vw;
    height: 10vw;
    bottom: -10vw;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 5%;
    width: 8vw;
    height: 8vw;
    bottom: -8vw;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 35%;
    width: 12vw;
    height: 12vw;
    bottom: -12vw;
    animation-delay: 5s;
}
.background li:nth-child(4) {
    left: 14%;
    width: 9vw;
    height: 9vw;
    bottom: -9vw;
    animation-delay: 9s;
}
.background li:nth-child(5) {
    left: 80%;
    width: 7.5vw;
    height: 7.5vw;
    bottom: -7.5vw;
    animation-delay: 5s;
}
.background li:nth-child(6) {
    left: 2%;
    width: 6vw;
    height: 6vw;
    bottom: -6vw;
    animation-delay: 7s;
}
.background li:nth-child(7) {
    left: 60%;
    width: 11vw;
    height: 11vw;
    bottom: -11vw;
    animation-delay: 10s;
}
.background li:nth-child(8) {
    left: 48%;
    width: 9.5vw;
    height: 9.5vw;
    bottom: -9.5vw;
    animation-delay: 11s;
}
.background li:nth-child(9) {
    left: 89%;
    width: 10.5vw;
    height: 10.5vw;
    bottom: -10.5vw;
    animation-delay: 15s;
}
.background li:nth-child(10) {
    left: 4%;
    width: 8.5vw;
    height: 8.5vw;
    bottom: -8.5vw;
    animation-delay: 18s;
}  
